<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
      <div class="banner"></div>
      <nav class="nav_bar">
        <div class="nav_grid">
          <ul class="nav_list">
            <li><a href="#home">Option</a></li>
            <li><a href="">Option2</a></li>
            <li><a href="">Option3</a></li>
            <li><a href="">Option4</a></li>
            <li><a href="">Option5</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
